Projekt/Grammatik/xerml_loc.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- vim: ts=2 sw=2 et -->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="MinCardType">
    <data type="integer">
      <param name="minInclusive">0</param>
    </data>
  </define>
  <define name="MaxCardType">
    <choice>
      <data type="positiveInteger"/>
      <value>n</value>
    </choice>
  </define>
  <start>
    <element name="loc">
      <attribute name="version">
        <data type="decimal">
          <param name="fractionDigits">3</param>
        </data>
      </attribute>
      <zeroOrMore>
        <ref name="Title"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="EntityLocalisation"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="RelLocalisation"/>
      </zeroOrMore>
    </element>
  </start>
  <define name="Title">
    <element name="title">
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="lang">
          <data type="string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="EntityLocalisation">
    <element name="entlo">
      <attribute name="entref">
        <data type="string"/>
      </attribute>
      <attribute name="name-lo">
        <data type="string"/>
      </attribute>
      <attribute name="lang">
        <data type="string"/>
      </attribute>
      <zeroOrMore>
        <ref name="Attributeloc"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="RelLocalisation">
    <element name="rello">
      <attribute name="relref">
        <data type="string"/>
      </attribute>
      <attribute name="name-lo">
        <data type="string"/>
      </attribute>
      <attribute name="lang">
        <data type="string"/>
      </attribute>
      <zeroOrMore>
        <ref name="Attributeloc"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="Attributeloc">
    <element name="attr">
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <attribute name="name-lo">
        <data type="string"/>
      </attribute>
    </element>
  </define>
</grammar>
